Repository climate-resource/input4mips_validation: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, environment-docs, auto-generated-classes

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
ci:
  autofix_prs: false
  autoupdate_schedule: quarterly
  autoupdate_branch: pre-commit-autoupdate
  # Skip steps that won't run on pre-commit CI for various reasons,
  # mostly because they rely on local things.
  skip: [
    pixi-install,
    environment-docs,
    pdm-export,
    pdm-lock-check,
    auto-generated-classes,
  ]

# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.5.0'
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: local
    hooks:
      # Prevent committing .rej files
      - id: forbidden-files
        name: forbidden files
        entry: found Copier update rejection files; review them and remove them
        language: fail
        files: "\\.rej$"
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.1.8'
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
      - id: ruff-format
  - repo: https://github.com/pdm-project/pdm
    rev: 2.17.0
    hooks:
      # Check that the lock file is up to date.
      # We need the pdm lock file too
      # so that we can build locked version of the package.
      - id: pdm-lock-check
        args: [ --dev, --group, ":all" ]
      # Put a requirements.txt file in the repo too
      - id: pdm-export
        args: ['--prod', '-o', 'requirements.txt', '--without-hashes']
      # - id: pdm-sync  # not used here because we manage environments with pixi
  - repo: local
    hooks:
      # pixi doesn't have a lock/check command yet,
      # so we just have to run install each time.
      # Ok for now
      - id: pixi-install
        name: pixi-install
        entry: pixi install
        # Don't use this, we want pixi to run
        # and update pixi.lock automatically if it is not up to date,
        # rather than just failing and exiting.
        # args: ["--locked"]
        language: system
        require_serial: true
        pass_filenames: false
      - id: environment-docs
        name: environment-docs
        entry: pixi run -e all-dev python scripts/write-docs-environment.py
        files: "pixi.lock"
        language: system
        require_serial: true
        pass_filenames: false
      - id: auto-generated-classes
        name: auto-generated-classes
        entry: pixi run -e all-dev python scripts/write-auto-generated-classes.py
        files: "scripts/write-auto-generated-classes.py"
        language: system
        require_serial: true
        pass_filenames: false

mypy
  src/input4mips_validation/cvs/drs.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/dataset/dataset.py
  src/input4mips_validation/validation/__init__.py
Due: none

Add version command to the CLI
  src/input4mips_validation/cli/__init__.py
Due: none

Add defaults for ESGF-related db fields
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/raw.py
Due: auto-generated-classes

Ensure correct exit
  src/input4mips_validation/cli/__init__.py
Due: none

Nicer message
  src/input4mips_validation/validation/__init__.py
Due: none

Switch to faster way of creating db entry
  src/input4mips_validation/database/database.py
Due: none

Add progress bar
  environment-docs.yml
  pdm.lock
  pixi.lock
  pyproject.toml
  requirements.txt
  src/input4mips_validation/database/creation.py
  src/input4mips_validation/validation/__init__.py
Due: environment-docs

Use open_dataset rather than load_dataset
  src/input4mips_validation/cvs/drs.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/validation/__init__.py
  tests/integration/cli/test_create_db.py
  tests/integration/cli/test_valid_file_creation_and_validation.py
  tests/integration/cli/test_write_in_drs_path.py
Due: none

Add upload to ftp command
  docs/gen_doc_stubs.py
  environment-docs.yml
  pdm.lock
  pixi.lock
  pyproject.toml
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/cli/logging.py
  src/input4mips_validation/upload_ftp.py
  tests/integration/cli/test_validate_tree.py
Due: environment-docs

Finish mucking around with upload
  logging-config-sample.yaml
  pdm.lock
  pixi.lock
  pyproject.toml
  requirements.txt
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/cli/logging.py
  src/input4mips_validation/upload_ftp.py
  tests/integration/cli/test_validate_tree.py
Due: environment-docs

Clean up
  src/input4mips_validation/cli/logging.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/upload_ftp.py
Due: none

Update logging strategy
  .gitignore
  logging-config-sample.yaml
  src/input4mips_validation/validation/__init__.py
Due: none

Drop code coverage
  pixi.lock
  pyproject.toml
Due: environment-docs

Modify logging in create db
  src/input4mips_validation/cli/logging.py
  src/input4mips_validation/database/creation.py
  src/input4mips_validation/validation/__init__.py
Due: none

Improve error debugging
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/validation/__init__.py
Due: none

Move logging module out
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/database/creation.py
  src/input4mips_validation/logging.py
  src/input4mips_validation/validation/__init__.py
Due: none

Write a first docs on preparing a file
  .gitignore
  docs/how-to-guides/CH4-em-biomassburning_input4MIPs_emissions_CMIP_CR-CMIP-0-2-0_gn_200001-201012.nc
  docs/how-to-guides/how-to-prepare-a-file-for-submission-to-input4mips.py
  scripts/create-test-data-for-docs.py
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/database/raw.py
  src/input4mips_validation/dataset/dataset.py
  src/input4mips_validation/dataset/metadata.py
  src/input4mips_validation/dataset/metadata_data_producer_minimum.py
  src/input4mips_validation/dataset/metadata_data_producer_multiple_variable_minimum.py
  src/input4mips_validation/testing.py
  tests/integration/cli/test_create_db.py
  tests/integration/cli/test_valid_file_creation_and_validation.py
  tests/integration/cli/test_write_in_drs_path.py
Due: auto-generated-classes

Update docs further
  README.md
  docs/how-to-guides/how-to-prepare-a-file-for-submission-to-input4mips.py
  mkdocs.yml
Due: none

Switch to warning when there is metadata clash
  src/input4mips_validation/database/database.py
Due: none

Fix up order of preference
  src/input4mips_validation/database/database.py
Due: none

Fix up message
  src/input4mips_validation/database/database.py
Due: none

Add sha256 hash to database
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/database/raw.py
  src/input4mips_validation/hashing.py
  tests/integration/cli/test_create_db.py
Due: auto-generated-classes

Add validated column to db
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/database/raw.py
Due: auto-generated-classes

Add filepath to db
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/database/raw.py
  tests/integration/cli/test_create_db.py
Due: auto-generated-classes

Add ESGF master ID to db
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/cvs/drs.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/database/raw.py
  tests/integration/cli/test_create_db.py
Due: auto-generated-classes

Tweak sha buffer size
  src/input4mips_validation/hashing.py
Due: none

Get tests passing
  tests/integration/cli/test_valid_file_creation_and_validation.py
  tests/integration/cli/test_write_in_drs_path.py
Due: none

mypy
  src/input4mips_validation/cvs/drs.py
  src/input4mips_validation/dataset/dataset.py
  src/input4mips_validation/logging.py
Due: none

Fix up notebook
  docs/how-to-guides/how-to-prepare-a-file-for-submission-to-input4mips.py
Due: none

Change data classes to frozen and parallelise db creation
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/cvs/source_id/values.py
  src/input4mips_validation/database/creation.py
  src/input4mips_validation/database/raw.py
  src/input4mips_validation/dataset/metadata.py
  src/input4mips_validation/dataset/metadata_data_producer_minimum.py
  src/input4mips_validation/dataset/metadata_data_producer_multiple_variable_minimum.py
  tests/integration/cli/test_create_db.py
Due: auto-generated-classes

Slightly improve output
  src/input4mips_validation/database/creation.py
  src/input4mips_validation/database/database.py
Due: none

Clarify field meaning
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/raw.py
Due: auto-generated-classes

Re-read docs
  docs/how-to-guides/how-to-prepare-a-file-for-submission-to-input4mips.py
  mkdocs.yml
Due: none

More clean up
  README.md
  docs/how-to-guides/how-to-prepare-a-file-for-submission-to-input4mips.py
Due: none

Remove yuck string stuff
  src/input4mips_validation/io.py
Due: none

Start on docs for writing files
  README.md
  docs/how-to-guides/CH4-em-biomassburning_input4MIPs_emissions_CMIP_CR-CMIP-0-2-0_gn_200001-201012.nc
  docs/how-to-guides/fixed_CH4-em-biomassburning_input4MIPs_emissions_CMIP_CR-CMIP-0-2-0_gn_200001-201012.nc
  docs/how-to-guides/how-to-validate-a-single-file.py
  docs/how-to-guides/how-to-validate-file.py
  docs/how-to-guides/how-to-write-a-single-file-in-the-drs.py
  docs/how-to-guides/how-to-write-a-single-valid-file.py
  docs/how-to-guides/index.md
  docs/index.md
  environment-docs.yml
  mkdocs.yml
  pdm.lock
  pixi.lock
  pyproject.toml
  requirements.txt
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/cli/logging.py
  src/input4mips_validation/cvs/source_id/values.py
  src/input4mips_validation/cvs/user_cvs/298fdb9c3e0344133be77b643d19588e-input4MIPs_license.json
  src/input4mips_validation/cvs/user_cvs/372076cac0923fccb9ed3a0299861f58-input4MIPs_institution_id.json
  src/input4mips_validation/cvs/user_cvs/4d508c7e1c7beb9688ab5f59c5d9508c-input4MIPs_source_id.json
  src/input4mips_validation/cvs/user_cvs/c2dd0eebf32b36d8fc0b2bf76d412faf-input4MIPs_DRS.json
  src/input4mips_validation/cvs/user_cvs/f50f958cb29b3f7110686ba65805e669-input4MIPs_activity_id.json
  src/input4mips_validation/database/raw.py
  src/input4mips_validation/dataset/dataset.py
  src/input4mips_validation/dataset/metadata.py
  src/input4mips_validation/dataset/metadata_data_producer_minimum.py
  src/input4mips_validation/dataset/metadata_data_producer_multiple_variable_minimum.py
  src/input4mips_validation/logging.py
  src/input4mips_validation/validation/__init__.py
  src/input4mips_validation/xarray_helpers/iris.py
Due: environment-docs, auto-generated-classes

Finish checking docs
  .gitignore
  docs/how-to-guides/how-to-validate-a-single-file.py
  docs/how-to-guides/how-to-write-a-single-file-in-the-drs.py
  docs/how-to-guides/how-to-write-a-single-valid-file.py
  docs/how-to-guides/index.md
  mkdocs.yml
  src/input4mips_validation/dataset/dataset.py
Due: none

Fix up link in README
  README.md
Due: none

Fix up type of xlink
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/raw.py
Due: auto-generated-classes

Remove accidentally committed files
  src/input4mips_validation/cvs/user_cvs/298fdb9c3e0344133be77b643d19588e-input4MIPs_license.json
  src/input4mips_validation/cvs/user_cvs/372076cac0923fccb9ed3a0299861f58-input4MIPs_institution_id.json
  src/input4mips_validation/cvs/user_cvs/4d508c7e1c7beb9688ab5f59c5d9508c-input4MIPs_source_id.json
  src/input4mips_validation/cvs/user_cvs/c2dd0eebf32b36d8fc0b2bf76d412faf-input4MIPs_DRS.json
  src/input4mips_validation/cvs/user_cvs/f50f958cb29b3f7110686ba65805e669-input4MIPs_activity_id.json
Due: none
