Repository climate-resource/input4mips_validation: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, environment-docs, auto-generated-classes

forbidden-files:
  name: forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

environment-docs:
  name: environment-docs
  entry: pixi run -e all-dev python scripts/write-docs-environment.py
  language: system
  require_serial: true
  pass_filenames: false

auto-generated-classes:
  name: auto-generated-classes
  entry: pixi run -e all-dev python scripts/write-auto-generated-classes.py
  language: system
  require_serial: true
  pass_filenames: false

Change default value of validate_input4mips properly
  changelog/55.improvement.md
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/raw.py
  src/input4mips_validation/validation/database.py
  tests/integration/cli/test_db_manipulation.py
Due: auto-generated-classes

Pass validation flow tests
  src/input4mips_validation/cli/__init__.py
  src/input4mips_validation/cli/common_arguments_and_options.py
  src/input4mips_validation/cli/db.py
  src/input4mips_validation/database/__init__.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/validation/database.py
  src/input4mips_validation/validation/exceptions.py
  tests/integration/cli/test_db_manipulation.py
  tests/test-data/cvs/different-drs/README.md
  tests/test-data/cvs/different-drs/input4MIPs_DRS.json
  tests/test-data/cvs/different-drs/input4MIPs_activity_id.json
  tests/test-data/cvs/different-drs/input4MIPs_institution_id.json
  tests/test-data/cvs/different-drs/input4MIPs_license.json
  tests/test-data/cvs/different-drs/input4MIPs_source_id.json
Due: none

mypy
  src/input4mips_validation/cli/db.py
  src/input4mips_validation/validation/database.py
Due: none

Fix bug in validate_file_written_according_to_drs
  docs/how-to-guides/how-to-write-a-single-valid-file.py
  src/input4mips_validation/cli/db.py
  src/input4mips_validation/cvs/drs.py
Due: none

Fix up docs
  src/input4mips_validation/validation/error_catching.py
Due: none

Finish CHANGELOG
  changelog/55.breaking.md
  changelog/55.docs.md
  changelog/55.feature.md
  changelog/55.fix.md
  changelog/55.improvement.md
  changelog/55.trivial.md
  scripts/write-test-cvs.py
  src/input4mips_validation/cli/db.py
  tests/test-data/cvs/default/README.md
  tests/test-data/cvs/different-drs/README.md
Due: none

Finish docs and associated clean up
  changelog/55.breaking.md
  changelog/55.docs.md
  changelog/55.feature.md
  docs/how-to-guides/how-to-manage-a-database.py
  docs/how-to-guides/how-to-upload-to-ftp.py
  docs/how-to-guides/index.md
  mkdocs.yml
  src/input4mips_validation/__init__.py
  src/input4mips_validation/cli/db.py
  src/input4mips_validation/database/creation.py
  src/input4mips_validation/database/database.py
  src/input4mips_validation/logging.py
  src/input4mips_validation/logging_config.py
  src/input4mips_validation/testing.py
  src/input4mips_validation/validation/database.py
Due: none

bump: version 0.10.3a1 -> 0.11.0
  changelog/52.feature.md
  changelog/52.fix.md
  changelog/54.docs.md
  changelog/55.breaking.md
  changelog/55.docs.md
  changelog/55.feature.md
  changelog/55.fix.md
  changelog/55.improvement.md
  changelog/55.trivial.md
  docs/changelog.md
  pyproject.toml
Due: none

Update after bump
  environment-docs.yml
  pdm.lock
  pixi.lock
  requirements.txt
Due: environment-docs

Add in a testing function
  src/input4mips_validation/testing.py
  tests/integration/cli/test_db_create.py
  tests/integration/cli/test_db_manipulation.py
Due: none

Add failing test
  tests/integration/cli/test_db_manipulation.py
  tests/unit/test_database.py
Due: none

Pass test
  scripts/write-auto-generated-classes.py
  src/input4mips_validation/database/raw.py
  src/input4mips_validation/dataset/dataset.py
  src/input4mips_validation/inference/from_data.py
  src/input4mips_validation/testing.py
Due: auto-generated-classes

Fix tests
  src/input4mips_validation/testing.py
  tests/integration/cli/test_db_manipulation.py
Due: none

Fix docs
  docs/how-to-guides/how-to-manage-a-database.py
  src/input4mips_validation/testing.py
Due: none

CHANGELOG
  changelog/56.fix.md
  changelog/56.improvement.md
  changelog/56.trivial.md
  src/input4mips_validation/dataset/dataset.py
Due: none

Fix type hint
  src/input4mips_validation/testing.py
Due: none

Fix up after bump
  pdm.lock
Due: none

Fix version and attempt to fix version bump issue
  .github/workflows/bump.yaml
  pixi.lock
  pyproject.toml
Due: environment-docs

bump: version 0.11.1a1 -> 0.11.1
  changelog/56.fix.md
  changelog/56.improvement.md
  changelog/56.trivial.md
  docs/changelog.md
  pyproject.toml
Due: none

bump(pre-release): version 0.11.1 > 0.11.2a1
  pyproject.toml
Due: none

Fix up docs formatting
  docs/changelog.md
  pixi.lock
Due: environment-docs

Use frozen run in CI
  .github/workflows/ci.yaml
Due: none

Add check if pixi locked is up to date
  .github/actions/setup/action.yml
  .github/workflows/ci.yaml
Due: none

Fix up after bump
  pixi.lock
Due: environment-docs

Fix up workflow
  .github/workflows/ci.yaml
Due: none

Pin towncrier
  pdm.lock
  pixi.lock
  pyproject.toml
  requirements.txt
Due: environment-docs

CHANGELOG
  changelog/57.trivial.md
Due: none

bump: version 0.11.2a1 -> 0.11.2
  changelog/57.trivial.md
  docs/changelog.md
  pyproject.toml
Due: none

bump(pre-release): version 0.11.2 > 0.11.3a1
  pyproject.toml
Due: none

Update after bump
  .github/workflows/release.yaml
  pixi.lock
Due: environment-docs

Update requirements found by conda bot
  environment-docs.yml
  pdm.lock
  pixi.lock
  pyproject.toml
Due: environment-docs

CHANGELOG
  changelog/59.improvement.md
Due: none

Update regression tests
  src/input4mips_validation/io.py
  src/input4mips_validation/validation/creation_date.py
  src/input4mips_validation/validation/file.py
  src/input4mips_validation/xarray_helpers/iris.py
Due: none

Fix up conda print script
  scripts/print-conda-recipe-pins.py
Due: none

Pass unit test
  src/input4mips_validation/validation/creation_date.py
  src/input4mips_validation/validation/regexp.py
Due: none

Make integration tests fail
  src/input4mips_validation/io.py
  src/input4mips_validation/validation/datasets_to_write_to_disk.py
  src/input4mips_validation/validation/exceptions.py
Due: none

Add failing unit tests
  tests/unit/validation/test_creation_date_validation.py
Due: none

CHANGELOG
  changelog/60.fix.md
  changelog/60.trivial.md
Due: none

mypy
  src/input4mips_validation/validation/file.py
Due: none

Fix up issue in dt format too and drop default number of processes to 1
  changelog/60.fix.md
  src/input4mips_validation/cli/db.py
  src/input4mips_validation/database/database.py
Due: none

Path conditions:
  forbidden-files: any of: \.rej$
  environment-docs: any of: pixi.lock
  auto-generated-classes: any of: scripts/write-auto-generated-classes.py
