Repository climate-resource/input4mips_validation: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbidden-files, environment-docs, auto-generated-classes

forbidden-files:
  name: forbidden files
  entry: found Copier update rejection files; review them and remove them
  language: fail

environment-docs:
  name: environment-docs
  entry: pixi run -e all-dev python scripts/write-docs-environment.py
  language: system
  require_serial: true
  pass_filenames: false

auto-generated-classes:
  name: auto-generated-classes
  entry: pixi run -e all-dev python scripts/write-auto-generated-classes.py
  language: system
  require_serial: true
  pass_filenames: false

Add tests
  TODO.md
  src/input4mips_validation/attrs_helpers.py
  src/input4mips_validation/cvs/author.py
  src/input4mips_validation/validation/email.py
  src/input4mips_validation/validation/orcid.py
  tests/unit/cvs/test_author.py
Due: none

CHANGELOG
  changelog/116.feature.md
  changelog/116.improvement.md
  changelog/116.trivial.md
  scripts/write-auto-generated-classes.py
Due: auto-generated-classes

Add helper notebook
  docs/NAVIGATION.md
  docs/how-to-guides/how-to-write-a-single-valid-file-dom-helper.py
  pixi.lock
Due: environment-docs

Add some more helpers
  docs/how-to-guides/how-to-write-a-single-valid-file-dom-helper.py
Due: none

Add validation to demo
  docs/how-to-guides/how-to-write-a-single-valid-file-dom-helper.py
Due: none

Add failing test
  tests/integration/cli/test_validate_tree.py
Due: none

Pass test
  src/input4mips_validation/cvs/drs.py
  src/input4mips_validation/validation/database.py
  src/input4mips_validation/validation/tree.py
Due: none

CHANGELOG
  changelog/119.fix.md
Due: none

bump: version 0.19.2a1 -> 0.20.0
  changelog/116.feature.md
  changelog/116.improvement.md
  changelog/116.trivial.md
  changelog/119.fix.md
  docs/changelog.md
  pyproject.toml
Due: none

bump(pre-release): version 0.20.0 > 0.20.1a1
  pyproject.toml
Due: none

Add click to pins etc
  pdm.lock
  pixi.lock
  pyproject.toml
Due: environment-docs

CHANGELOG
  changelog/120.trivial.md
Due: none

Update pixi version used in CI
  .github/actions/setup/action.yml
Due: none

Update pixi.lock
  changelog/120.trivial.md
  environment-docs.yml
  pixi.lock
Due: environment-docs

Add failing tests
  pixi.lock
  tests/unit/validation/test_frequency_validation.py
Due: environment-docs

Pass tests
  src/input4mips_validation/inference/from_data.py
Due: none

Clean up
  src/input4mips_validation/inference/from_data.py
Due: none

Update pixi version in CI
  .github/actions/setup/action.yml
Due: none

Help mypy
  src/input4mips_validation/inference/from_data.py
Due: none

CHANGELOG
  changelog/121.fix.md
  changelog/121.trivial.md
Due: none

bump: version 0.20.1a1 -> 0.20.1
  changelog/121.fix.md
  changelog/121.trivial.md
  docs/changelog.md
  pyproject.toml
Due: none

bump(pre-release): version 0.20.1 > 0.20.2a1
  pyproject.toml
Due: none

Path conditions:
  forbidden-files: any of: \.rej$
  environment-docs: any of: pixi.lock
  auto-generated-classes: any of: scripts/write-auto-generated-classes.py
